body {
    margin: 0;
    /* Google Fonts - Smythe */
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #222222;
}

/* Google Fonts - Smythe */
.smythe-regular {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}

.inter { /* font-weight 100 to 900*/
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

/* Format content to center*/
.section {
    margin: 0 auto;
    width: 600px;
    background-color: #fffaf0;
}

.container {
    margin-left: 46px;
    margin-right: 46px;
}

/* Header styling*/
header img {
    display: block;
}
/* Header - position text atop of image*/
.header-section {
    position: relative;
}

.header-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    margin-top: 46px;
    color: #fffaf0;
}

/* Typography */
h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.375rem;
}

h2 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

/* Menu section*/
section {
    padding-top: 45px;
}

section .menu-section {
    padding-top: 23px;
}

.image-menu-item {
    font-size: 4.875rem;

}

.item-details {
    display: flex;
    flex-direction: row;
    padding-bottom: 51px;
    border-bottom: 1px #D2D2D2 solid;
    padding-top: 45px;
}

.menu-text {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    width: 358px;
}

.menu-text p,
.menu-text h4 {
    padding-bottom: 8px;
}

.accent {
    font-weight: bold;
}

.btn-add-item {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 8px;
    border-radius: 50%;
    border: 2px solid #DEDEDE;
    background-color: #fffaf0;
    text-decoration: none;
    font-size: 2rem;
    color: #3C3C3C;
}
/* Your order section*/
.title-your-order {
    text-align: center;
}

.flex-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.order-item {
    margin-bottom: 22px;
}

/* Your order section*/
.container-cart-btns {
    display: flex;
    flex-direction: row;
    justify-self: start;
    gap: 0 13px;
}

/* buttons */
.borderless {
    border: none;
    background: transparent;
    color: #BBBBBB;
    cursor: pointer;
    outline: none;
}

.orders {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #222222;
    margin-top: 64px;
}

.total {
    margin-top: 14px;
}

.btn-complete-order, .btn-pay {
    display: block;
    width: 100%;
    /* Btn typography*/
    text-align: center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    /* Button styling*/
    background: #16DB99;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Positioning*/
    margin: 53px 0;
    padding: 18px;
}

.btn-complete-order:hover, .btn-complete-order:focus,
.btn-pay:hover, .btn-pay:hover {
    opacity: 0.75;
}

/* Modal* */
.container-modal-checkout {
    display: none;  /* must be none by default*/
    position: fixed;
    width: 524px;
    /*
    height: 542px;
    */
    top: 125px;
    left: 0;
    right: 0;

    margin: 0 auto;
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 20px 30px 4px #757575 ;
}

.modal-checkout-inner h2 {
    text-align: center;
    padding: 46px 0;
}

.modal-checkout-inner,
.form-payment {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Start: Label atop of border*/
.form-group {
    position: relative;
    display: block;
    border: 1px solid #757575;
    border-radius: 4px;
    color: #757575;
    margin-bottom: 23px;
    padding: 16px 26px;
}
.form-group > label {
    position: absolute;
    top: -12px; /* Tweak this for X-position, set some negative value */
    left: 20px; /* Tweak this for Y-position */
    padding: 0 4px;
    background-color:white;
}
.form-group > input {
    border: none;
    width: 100%;
    font-size: 1rem;
}
/* End: Label atop of border*/

.btn-pay {
    margin-top: 23px;
}

/* Order completed*/
.completed-order {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 504px;
    background-color: #ECFDF5;
    margin-bottom: 30px;
}

.msg-completed-order {
    color: #065f46;
}

/* Completed payment section*/
.completed-order {

}

.completed-section {
    display: none;
}